<div *ngIf="emailsAndTitle$ | async as data">
  <h1>{{ data.title }}</h1>
  <table class="table">
    <tbody>
      <tr (click)="goToEmail(email.id)" [class.fw-bold]="!email.read" *ngFor="let email of data.emails">
        <td>{{ email.contactName }}</td>
        <td class="w-50">{{ email.subject }}</td>
        <td>{{ email.date }}</td>
        <td>
          <button class="btn btn-sm btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
