<ng-template #notFournd>
  <h2>Aucun Email trouvé</h2>
  <a [routerLink]="['../../']" class="btn btn-primary">Boîte de réception</a>
</ng-template>

<div *ngIf="email$ | async as email; else: notFournd">
  <h1>{{email.subject}}</h1>
  <div class="d-flex justify-content-between align-items-center">
    <em>De {{email.contactName}} ({{email.email}}), le {{email.date}}</em>
    <button class="btn btn-danger" (click)="deleteMail()">Supprimer</button>
  </div>
  <hr />
  <p *ngFor="let part of getBodyPart(email.body)">
    {{ part}}
  </p>
  <nav>
    <a [routerLink]="['../' + (email.id - 1)]" class="btn btn-secondary">&lt; Mail précédent</a>
    <a [routerLink]="['../' + (email.id + 1)]" class="btn btn-secondary">Mail suivant &gt;</a>
  </nav>
</div>
