<div class="row">
  <div class="col-12 col-md-3">
    <a routerLinkActive="active" [routerLink]="['create']"  class="btn btn-dark d-block mb-4">Nouveau message</a>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="['./']" class="nav-link">Boîte de réception</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="['./', 'sent']" class="nav-link">Messages envoyés</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="['./', 'trash']" class="nav-link">Corbeille</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
